*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: #ff3434;
  display: flex;
}
.gamecontainer{
  width: 700px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memorycard{
  width: 22%;
  height: 22%;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}
.memorycard:active{
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.memorycard.flip{
  transform: rotateY(180deg);
  cursor: pointer;
}

.front , .back{
  background-color: #ff5252;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}

.front{
  transform: rotateY(180deg);
}
